---
import "../styles/base.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Portfolio from "../components/Portfolio.astro";
---

<Layout title="Theia Surette">
  <main class="container mx-auto py-16 flex flex-col gap-4 max-w-4xl px-6">
    <Header />
    <Socials />
    <Portfolio />
  </main>
</Layout>
