---
const title = "Hi! I'm Theia.";
const subtitle = "Just a girl trying to make stuff that people like using.";
---

<div class="text-center mx-auto flex flex-col gap-4">
  <div class="font-semibold text-8xl text-center z-20">
    <span
      class="bg-[length:200%] animate-bg-pan bg-gradient-to-r from-blue-500 via-pink-700 to-blue-500 bg-clip-text text-transparent drop-shadow-lg"
    >
      {title}
    </span>
  </div>
  <p class="text-foreground text-lg">
    {subtitle}
  </p>
</div>
